<h1>Editing Stored Product</h1>

<%= content_tag :div,
id: 'product-edit',
data: {
	static_text: t('static_text'),
	product: @stored_product,
	product_images: @product_images
}.to_json do %>
<% end %>